# You can just copy/paste this file to `.env` in the same directory.

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://coolproject-postgres:coolproject-postgres@172.17.0.1:6432/coolproject-postgres?schema=public"
JWT_SECRET="secret"

# S3 configuration
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=coolproject-localstack
S3_SECRET_ACCESS_KEY=coolproject-localstack
S3_BUCKET=coolproject-localstack

# Deployed URL
DEPLOYED_FRONTEND_ROOT=http://localhost:5173

## In Docker or DevContainer
# OIDC_SERVER_URL=http://host.docker.internal:6789/realms/coolproject
## In host machine
OIDC_SERVER_URL=http://localhost:6789/realms/coolproject
OIDC_CLIENT_ID=coolproject-app

# Dev mode
NODE_ENV=development