# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://coolproject-postgres:coolproject-postgres@172.17.0.1:6432/coolproject-postgres?schema=public"
JWT_SECRET=

# S3 configuration
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=coolproject-minio
S3_SECRET_ACCESS_KEY=coolproject-minio
S3_BUCKET=coolproject-minio
